In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import json
from datetime import datetime, date, timedelta
from pytz import timezone # only needed on colab as the computer is sometimes in a different timezone

# Cities

In [4]:
City_name = []
Country = []
Latitude = []
Longitude = []
Population = []

## Berlin

In [5]:
url = "https://en.wikipedia.org/wiki/Berlin"
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url, headers = headers)
response.status_code

200

In [6]:
demo = BeautifulSoup(response.content, "html.parser")

In [7]:
#City name
berlin_name = demo.select("th div.fn")[0].get_text()
City_name.append(berlin_name)
#Country
berlin_country = demo.select("td.infobox-data a")[0].get_text()
Country.append(berlin_country)
#Latitude 
berlin_latitude = demo.select("span.latitude")[0].get_text()
Latitude.append(berlin_latitude)
#Longitude
berlin_longitude = demo.select("span.longitude")[0].get_text()
Longitude.append(berlin_longitude)
#population
berlin_population = demo.select("tr.mergedrow td.infobox-data")[8].get_text()
Population.append(berlin_population)

## Paris

In [8]:
url3 = "https://en.m.wikipedia.org/wiki/Paris"
headers3 = {'Accept-Language': 'en-US,en;q=0.8'}
response3 = requests.get(url3, headers = headers3)
response3.status_code # 200 status code means OK!

200

In [9]:
demo3 = BeautifulSoup(response3.content, "html.parser")

In [10]:
paris_name = demo3.select('div.fn')[0].get_text()
City_name.append(paris_name)

paris_country = demo3.select("td.infobox-data")[0].get_text()
Country.append(paris_country)

paris_latitude = demo3.select('span.latitude')[0].get_text()
Latitude.append(paris_latitude)

paris_longitude = demo3.select('span.longitude')[0].get_text()
Longitude.append(paris_longitude)

paris_population = demo3.select('td.infobox-data')[9].get_text()
Population.append(paris_population)

## Madrid

In [11]:
url4 = "https://en.m.wikipedia.org/wiki/Madrid"
headers4 = {'Accept-Language': 'en-US,en;q=0.8'}
response4 = requests.get(url4, headers = headers4)
response4.status_code # 200 status code means OK!

200

In [12]:
demo4 = BeautifulSoup(response4.content, "html.parser")

In [13]:
madrid_name= demo4.select("div.fn")[0].get_text()
City_name.append(madrid_name)

madrid_country= demo4.select("td.infobox-data a")[0].get_text()
Country.append(madrid_country)

madrid_latitude= demo4.select("span.latitude")[0].get_text()
Latitude.append(madrid_latitude)

madrid_longitude=demo4.select("span.longitude")[0].get_text()
Longitude.append(madrid_longitude)

madrid_population= demo4.select("td.infobox-data")[8].get_text()
Population.append(madrid_population)

## Rome

In [14]:
url5 = "https://en.wikipedia.org/wiki/Rome"
headers5 = {'Accept-Language': 'en-US,en;q=0.8'}
response5 = requests.get(url5, headers = headers4)
response5.status_code # 200 status code means OK!

200

In [15]:
demo5 = BeautifulSoup(response5.content, "html.parser")

In [16]:
rome_city = demo5.select("div.fn")[0].get_text()
City_name.append(rome_city)

rome_country = demo5.select("td.infobox-data a")[0].get_text()
Country.append(rome_country)

rome_latitude = demo5.select("span.latitude")[0].get_text()
Latitude.append(rome_latitude)

rome_longitude = demo5.select("span.longitude")[0].get_text()
Longitude.append(rome_longitude)

rome_population=demo5.select("td.infobox-data")[12].get_text()
Population.append(rome_population)

## Create Tables

In [17]:
City_name,Country,Latitude,Longitude,Population

(['Berlin', 'Paris', 'Madrid', 'Rome'],
 ['Germany', 'France', 'Spain', 'Italy'],
 ['52°31′12″N', '48°51′24″N', '40°25′00″N', '41°53′36″N'],
 ['13°24′18″E', '2°21′08″E', '03°42′09″W', '12°28′58″E'],
 ['3,769,495', '2,165,423', '3,223,334', '2,860,009[2]'])

In [18]:
Population = [i.replace('[1]','') for i in Population]
Population = [i.replace('[2]','') for i in Population]

In [64]:
Cities_Infos = pd.DataFrame(
    {"city_ID": ['1', '2','3','4'],
     "city_name": City_name,
     "country": Country,
     "population": Population,
     "latitude": Latitude,
     "longitude": Longitude
    }
)

# fixing latitude
Cities_Infos['latitude'] = Cities_Infos['latitude'].str.split('″').str[0].str.replace('°', '.', regex=False).str.replace('′', '', regex=False)
# fixing longitude
Cities_Infos['longitude'] = Cities_Infos['longitude'].str.split('″').str[0].str.replace('°', '.', regex=False).str.replace('′', '', regex=False)

In [20]:
Cities = pd.DataFrame({
    "city_name": City_name,
    "country": Country}).reset_index()

Cities = Cities.rename(columns={'index':'city_ID'})

Cities.city_ID = Cities.city_ID + 1

In [65]:
Cities_Infos

  city_ID city_name  country population latitude longitude
0       1    Berlin  Germany  3,769,495  52.3112   13.2418
1       2     Paris   France  2,165,423  48.5124    2.2108
2       3    Madrid    Spain  3,223,334  40.2500   03.4209
3       4      Rome    Italy  2,860,009  41.5336   12.2858

In [22]:
Cities

   city_ID city_name  country
0        1    Berlin  Germany
1        2     Paris   France
2        3    Madrid    Spain
3        4      Rome    Italy

In [23]:
Airports = pd.DataFrame({
    'city_ID': ['1','2','2','3','4','4'],
    'city_name': ['Berlin', 'Paris', 'Paris', 'Madrid', 'Rome', 'Rome'],
    'ICAO': ['EDDB', 'LFPO', 'LFPG','LEMD' , 'LIRA', 'LIRF']
})

Airports = pd.merge(Airports,Cities, on='city_name')
Airports.pop('city_ID_y')
Airports = Airports.rename(columns={'city_ID_x':'city_ID'})

In [24]:
Airports

  city_ID city_name  ICAO  country
0       1    Berlin  EDDB  Germany
1       2     Paris  LFPO   France
2       2     Paris  LFPG   France
3       3    Madrid  LEMD    Spain
4       4      Rome  LIRA    Italy
5       4      Rome  LIRF    Italy

# Weathers

In [1]:
list_df = []


def weather_lists(Cities):
    Responses = []
    Jsons = []
    API_key = 'f5297da4859dc89a295781904f4487dc'
    
    for i in Cities:
        Responses.append(requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={i}&appid={API_key}&units=metric"))
    for j in Responses:
        Jsons.append(j.json())
    
    City = [] 
    Time_Stamp = [] #_forecast['list'][1]['dt_txt']
    Country = []

    #Temp
    Temperature = [] #_forecast['list'][1]['main']['temp']
    Feels_Temperature = [] #_forecast['list'][1]['main']['feels_like']

    #Humidity
    Humidity = [] #_forecast['list'][1]['main']['humidity']

    #Actual Weather
    Weather = [] #_forecast['list'][1]['weather'][0]['main']
    Weather_desc = [] #_forecast['list'][1]['weather'][0]['description']

    #Wind
    Wind_Speed = [] #_forecast['list'][1]['wind']['speed']

    #risk of rain (from 0 to 1 where 0% to 100%)
    Risk_Rain = [] #_forecast['list'][1]['pop']
            
    for k in Jsons:
        for i in range(len(k['list'])):
            #City
            City.append(k['city']['name'])
            Country.append(k['city']['country'])
            #Datetime 
            Time_Stamp.append(k['list'][i]['dt_txt'])

            #Temp
            Temperature.append(k['list'][i]['main']['temp'])
            Feels_Temperature.append(k['list'][i]['main']['feels_like'])

            #Humidity
            Humidity.append(k['list'][i]['main']['humidity'])

            #Wind
            Wind_Speed.append(k['list'][i]['wind']['speed'])

            #risk of rain (from 0 to 1 where 0% to 100%)
            Risk_Rain.append(k['list'][i]['pop'])

            for j in range(len(k['list'][i]['weather'])):
                #Actual Weather
                Weather.append(k['list'][i]['weather'][j]['main'])
                Weather_desc.append(k['list'][i]['weather'][j]['description'])


    for eachCity in Cities:
    #Dynamically create Data frames
        df = pd.DataFrame({
                'city_id': City,
                'country':Country,
                'time_Stamp':Time_Stamp,
                'temperature':Temperature,
                'feels_Temperature':Feels_Temperature,
                'weather':Weather,
                'weather_desc':Weather_desc,
                'wind_Speed':Wind_Speed,
                'risk_Rain':Risk_Rain,
                'retrieve_Date': datetime.now().date()
                })
    df.time_Stamp = pd.to_datetime(df.time_Stamp)
    df.retrieve_Date = pd.to_datetime(df.retrieve_Date)
    df.city_id = df.city_id.replace('Berlin', '1').str.replace('Paris', '2').str.replace('Madrid','3').str.replace('Rome','4')
    return df

In [4]:
Weathers = weather_lists(['Berlin', 'Paris', 'Madrid', 'Rome, IT'])

In [5]:
Weathers

,city_id,country,time_Stamp,temperature,feels_Temperature,weather,weather_desc,wind_Speed,risk_Rain,retrieve_Date
0,1,DE,2022-11-07 09:00:00,9.25,6.73,Clouds,overcast clouds,4.80,0.00,2022-11-07
1,1,DE,2022-11-07 12:00:00,10.85,9.92,Clouds,broken clouds,5.34,0.00,2022-11-07
2,1,DE,2022-11-07 15:00:00,11.74,10.80,Clouds,overcast clouds,4.90,0.00,2022-11-07
3,1,DE,2022-11-07 18:00:00,12.31,11.45,Clouds,overcast clouds,4.99,0.00,2022-11-07
4,1,DE,2022-11-07 21:00:00,11.94,11.15,Clouds,overcast clouds,4.27,0.00,2022-11-07
...,...,...,...,...,...,...,...,...,...,...
155,4,IT,2022-11-11 18:00:00,17.06,16.75,Clouds,broken clouds,1.14,0.02,2022-11-07
156,4,IT,2022-11-11 21:00:00,15.49,15.05,Clouds,overcast clouds,2.18,0.00,2022-11-07
157,4,IT,2022-11-12 00:00:00,14.42,13.90,Clouds,overcast clouds,2.48,0.00,2022-11-07
158,4,IT,2022-11-12 03:00:00,13.60,13.00,Clouds,overcast clouds,2.35,0.00,2022-11-07
159,4,IT,2022-11-12 06:00:00,12.67,12.03,Clouds,overcast clouds,2.56,0.00,2022-11-07

In [59]:
Weathers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   city_id            160 non-null    object
 1   country            160 non-null    object
 2   time_Stamp         160 non-null    datetime64[ns]
 3   temperature        160 non-null    float64
 4   feels_Temperature  160 non-null    float64
 5   weather            160 non-null    object
 6   weather_desc       160 non-null    object
 7   wind_Speed         160 non-null    float64
 8   risk_Rain          160 non-null    float64
 9   retrieve_Date      160 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 12.6+ KB

# Flights

In [30]:
def tomorrows_flight_arrivals(icao_list):

    today = datetime.now().date() # all that's needed when working locally 
    #today = datetime.now().astimezone(timezone('Europe/Berlin')).date() # only needed on colab as the computer is sometimes in a different timezone
    tomorrow = (today + timedelta(days=1))

    list_for_df = []

    for icao in icao_list:
        times = [["00:00","11:59"],["12:00","23:59"]]

        for time in times:
            url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{tomorrow}T{time[0]}/{tomorrow}T{time[1]}"
            querystring = {"withLeg":"true","direction":"Arrival","withCancelled":"false","withCodeshared":"true","withCargo":"false","withPrivate":"false"}
            headers = {
              'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
              'x-rapidapi-key': "a41979481emsh9d18344d6bc7a05p1d51bbjsn31de01813053"
              }
            response = requests.request("GET", url, headers=headers, params=querystring)
            flights_json = response.json()

            for flight in flights_json['arrivals']:
                flights_dict = {}
                flights_dict['arrival_icao'] = icao
                # .get() is another way of ensuring our code doesn't break
                # in the previous 2 notebooks you learnt about 'if' (cities) and 'try/except' (weather)
                # .get() works similar, it will get the text if possible, if there is no text a None value will be inserted instead
                flights_dict['arrival_time_local'] = flight['arrival'].get('scheduledTimeLocal', None)
                flights_dict['arrival_terminal'] = flight['arrival'].get('terminal', None)
                flights_dict['departure_city'] = flight['departure']['airport'].get('name', None)
                flights_dict['departure_icao'] = flight['departure']['airport'].get('icao', None)
                flights_dict['departure_time_local'] = flight['departure'].get('scheduledTimeLocal', None)
                flights_dict['airline'] = flight['airline'].get('name', None)
                flights_dict['flight_number'] = flight.get('number', None)
                flights_dict['data_retrieved_on'] = datetime.now().astimezone(timezone('Europe/Berlin')).date()
                list_for_df.append(flights_dict)

    df = pd.DataFrame(list_for_df)
    df.arrival_time_local = pd.to_datetime(df.arrival_time_local, utc= True)
    df.departure_time_local = pd.to_datetime(df.departure_time_local, utc= True)
    df.data_retrieved_on = pd.to_datetime(df.data_retrieved_on, utc= True)
    return df

In [31]:
Flights = tomorrows_flight_arrivals(['EDDB', 'LFPO', 'LFPG','LEMD' , 'LIRA', 'LIRF'])

In [32]:
Flights

,arrival_icao,arrival_time_local,arrival_terminal,departure_city,departure_icao,departure_time_local,airline,flight_number,data_retrieved_on
0,EDDB,2022-11-05 06:55:00+00:00,1,Riga,EVRA,2022-11-05 05:15:00+00:00,Air Baltic,BT 211,2022-11-04 00:00:00+00:00
1,EDDB,2022-11-05 06:55:00+00:00,1,Cologne,EDDK,2022-11-05 05:45:00+00:00,Eurowings,EW 6,2022-11-04 00:00:00+00:00
2,EDDB,2022-11-05 06:55:00+00:00,1,Frankfurt-am-Main,EDDF,2022-11-05 05:45:00+00:00,Lufthansa,LH 170,2022-11-04 00:00:00+00:00
3,EDDB,2022-11-05 06:55:00+00:00,1,Newark,KEWR,2022-11-04 22:50:00+00:00,United,UA 962,2022-11-04 00:00:00+00:00
4,EDDB,2022-11-05 05:45:00+00:00,0,Vilnius,EYVI,2022-11-05 04:05:00+00:00,Ryanair,FR 1571,2022-11-04 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...
3410,LIRF,2022-11-05 22:35:00+00:00,1,Paris,LFPO,2022-11-05 20:35:00+00:00,Vueling,VY 6933,2022-11-04 00:00:00+00:00
3411,LIRF,2022-11-05 22:00:00+00:00,1,Amman,OJAI,2022-11-05 18:15:00+00:00,Wizz Air,W6 8310,2022-11-04 00:00:00+00:00
3412,LIRF,2022-11-05 21:05:00+00:00,1,Catania,LICC,2022-11-05 19:40:00+00:00,Ryanair,FR 5846,2022-11-04 00:00:00+00:00
3413,LIRF,2022-11-05 21:30:00+00:00,3,Lanzarote Island,GCRR,2022-11-05 17:30:00+00:00,Ryanair,FR 5859,2022-11-04 00:00:00+00:00
3414,LIRF,2022-11-05 21:30:00+00:00,1,Madrid,LEMD,2022-11-05 19:00:00+00:00,Iberia,IB 3238,2022-11-04 00:00:00+00:00

In [33]:
Flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3415 entries, 0 to 3414
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   arrival_icao          3415 non-null   object
 1   arrival_time_local    3415 non-null   datetime64[ns, UTC]
 2   arrival_terminal      3377 non-null   object
 3   departure_city        3415 non-null   object
 4   departure_icao        3403 non-null   object
 5   departure_time_local  2390 non-null   datetime64[ns, UTC]
 6   airline               3415 non-null   object
 7   flight_number         3415 non-null   object
 8   data_retrieved_on     3415 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](3), object(6)
memory usage: 240.2+ KB

# Connect to MySQL

In [51]:
schema="E_Scooter"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password="Maxime45" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [64]:
Cities.to_sql('Cities',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)        # index = False -> will not send index column to database

4

In [65]:
Airports.to_sql('Airports',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)        # index = False -> will not send index column to database

6

In [66]:
Cities_Infos.to_sql('Cities_Infos',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)        # index = False -> will not send index column to database

4

In [61]:
Weathers.to_sql('Weather',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)        # index = False -> will not send index column to database

160

In [60]:
Flights.to_sql('Flights',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)        # index = False -> will not send index column to database

3415

# Add columns

In [41]:
Flights.duplicated().sum()

0