# Import Libraries, Datas and Set up Display

In [1]:
import pandas as pd
pd.options.display.max_rows = 100

In [2]:
products = pd.read_csv('/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Base/products.csv')
orderlines = pd.read_csv('/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Base/orderlines.csv')
orders = pd.read_csv('/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Base/orders.csv')
brands = pd.read_csv('/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Base/brands.csv')

# Get to know Data Frames

## *Orderlines*

In [3]:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293983 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                293983 non-null  int64
 1   id_order          293983 non-null  int64
 2   product_id        293983 non-null  int64
 3   product_quantity  293983 non-null  int64
 4   sku               293983 non-null  object
 5   unit_price        293983 non-null  object
 6   date              293983 non-null  object
dtypes: int64(4), object(3)
memory usage: 15.7+ MB

In [4]:
orderlines.head()

,id,id_order,product_id,product_quantity,sku,unit_price,date
0,1119109,299539,0,1,OTT0133,18.99,2017-01-01 00:07:19
1,1119110,299540,0,1,LGE0043,399.00,2017-01-01 00:19:45
2,1119111,299541,0,1,PAR0071,474.05,2017-01-01 00:20:57
3,1119112,299542,0,1,WDT0315,68.39,2017-01-01 00:51:40
4,1119113,299543,0,1,JBL0104,23.74,2017-01-01 01:06:38

In [5]:
orderlines.nunique()

id                  293983
id_order            204855
product_id               1
product_quantity        67
sku                   7951
unit_price           11329
date                251631
dtype: int64

## *Products*

In [6]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19326 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          19326 non-null  object
 1   name         19326 non-null  object
 2   desc         19319 non-null  object
 3   price        19280 non-null  object
 4   promo_price  19326 non-null  object
 5   in_stock     19326 non-null  int64
 6   type         19276 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.0+ MB

In [7]:
products.head()

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364

In [8]:
products.nunique()

sku            10579
name           10373
desc            7098
price           2690
promo_price     4614
in_stock           2
type             126
dtype: int64

## *Orders*

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226909 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226909 non-null  int64
 1   created_date  226909 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226909 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [10]:
orders.head()

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled

In [11]:
orders.nunique()

order_id        226909
created_date    224828
total_paid       31236
state                5
dtype: int64

# Clean Data

## *Orderlines*

In [12]:
#Check Nan Values
orderlines.isna().sum()
                        # Nothing to delete

id                  0
id_order            0
product_id          0
product_quantity    0
sku                 0
unit_price          0
date                0
dtype: int64

In [13]:
#Check duplicated
orderlines.duplicated().sum()
                        # Nothing to delete

0

***unit_price and date Dtypes are not correct. Let's change it***

In [14]:
#Unit_Price from object to float
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

ValueError: Unable to parse string "1.137.99" at position 6

Looks like some numbers have a problem. 
Make a list of the order ID, see how many are they, and delete these rows.

In [16]:
#Make a list of Order IDs
two_dot_order_ids_list = orderlines.loc[orderlines.unit_price.astype(str).str.contains("\d+\.\d+\.\d+"), "id_order"]

In [17]:
#Check the lenght and what it represents
f"Wrong numbers represent \
{round((len(two_dot_order_ids_list)/(orderlines.id_order.nunique())*100),2)}\
% of the total amount of entries"

'Wrong numbers represent 17.66% of the total amount of entries'

**17,66% is a high part of the datas, but because time restrictions, we would delete these entries and we will stil have enough to make our analyses.**

In [18]:
#Remove these entries
orderlines = orderlines.loc[~orderlines.id_order.isin(two_dot_order_ids_list)]

In [19]:
#Change Unit_Price Dtype:
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

In [20]:
#Change Date Dtype:
orderlines["date"] = pd.to_datetime(orderlines["date"])

In [21]:
#Check if the changes worked correctly:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216250 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                216250 non-null  int64
 1   id_order          216250 non-null  int64
 2   product_id        216250 non-null  int64
 3   product_quantity  216250 non-null  int64
 4   sku               216250 non-null  object
 5   unit_price        216250 non-null  float64
 6   date              216250 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 13.2+ MB

## *Products*

In [22]:
#Check Nan Values
products.isna().sum()

sku             0
name            0
desc            7
price          46
promo_price     0
in_stock        0
type           50
dtype: int64

***Price is important for our analyse. We need to remove these products without price.***

In [23]:
#Keep only rows with prices
products = products[~products.price.isna()]

In [24]:
#Check duplicated
products.duplicated().sum()

8746

In [25]:
#Delete these duplicated:
products = products.drop_duplicates()

price and promo_price have wrong Dtype.

In [26]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10534 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10534 non-null  object
 1   name         10534 non-null  object
 2   desc         10527 non-null  object
 3   price        10534 non-null  object
 4   promo_price  10534 non-null  object
 5   in_stock     10534 non-null  int64
 6   type         10484 non-null  object
dtypes: int64(1), object(6)
memory usage: 658.4+ KB

In [28]:
#Change Dtype:
products["price"] = pd.to_numeric(products["price"])

ValueError: Unable to parse string "1.639.792" at position 504

Looks like some numbers have a problem. 
Make a list of the order ID, see how many are they, and delete these rows.

In [30]:
#Make a list of Order IDs
two_dot_sku_list = products.loc[products.price.astype(str).str.contains("\d+\.\d+\.\d+"), "sku"]

In [31]:
#Check the lenght and what it represents
f"Wrong prices represent \
{round((len(two_dot_sku_list)/(products.sku.nunique())*100),2)}\
% of the total amount of entries"

'Wrong prices represent 3.58% of the total amount of entries'

In [32]:
#Keep only rows with valid price:
products = products.loc[~products.sku.isin(two_dot_sku_list)]

In [33]:
#Change price Dtypes:
products["price"] = pd.to_numeric(products["price"])

We check now Promo_Price

In [34]:
#Make a list of Order IDs
two_dot_sku_promo_list = products.loc[products.promo_price.astype(str).str.contains("\d+\.\d+\.\d+"), "sku"]

In [35]:
f"Wrong prices represent \
{round((len(two_dot_sku_promo_list)/(products.sku.nunique())*100),2)}\
% of the total amount of entries"

'Wrong prices represent 42.54% of the total amount of entries'

***42,54% is too high and we can't handle analyses without these article. We will replace these numbers with the actual price of articles.***

In [36]:
#Replace wrong promo_price by NaN
products = products.replace(to_replace="\d+\.\d+\.\d+", value='',regex=True)

In [37]:
#Replace NaN Promo Price by the price of the items
products.promo_price = products.promo_price.fillna(products['price'])

In [38]:
#Change promo_price Dtype:
products['promo_price'] = pd.to_numeric(products['promo_price'])

In [39]:
#Check if the changes worked correctly:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10157 non-null  object
 1   name         10157 non-null  object
 2   desc         10151 non-null  object
 3   price        10157 non-null  float64
 4   promo_price  5836 non-null   float64
 5   in_stock     10157 non-null  int64
 6   type         10110 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 634.8+ KB

## *Orders*

In [40]:
#Keep only rows with payments
orders = orders[~orders.total_paid.isna()]

In [41]:
#Change Dtype for dates
orders['created_date'] = pd.to_datetime(orders['created_date'])

## *Brands does not look having any important issues*

# Last check and Export DataFrames

In [42]:
orderlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216250 entries, 0 to 293982
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                216250 non-null  int64
 1   id_order          216250 non-null  int64
 2   product_id        216250 non-null  int64
 3   product_quantity  216250 non-null  int64
 4   sku               216250 non-null  object
 5   unit_price        216250 non-null  float64
 6   date              216250 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 13.2+ MB

In [43]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226904 entries, 0 to 226908
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226904 non-null  int64
 1   created_date  226904 non-null  datetime64[ns]
 2   total_paid    226904 non-null  float64
 3   state         226904 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 8.7+ MB

In [44]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10157 entries, 0 to 19325
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sku          10157 non-null  object
 1   name         10157 non-null  object
 2   desc         10151 non-null  object
 3   price        10157 non-null  float64
 4   promo_price  5836 non-null   float64
 5   in_stock     10157 non-null  int64
 6   type         10110 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 634.8+ KB

In [45]:
orderlines.to_csv("/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Cleaned/cl_orderlines.csv", index=False)
orders.to_csv("/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Cleaned/cl_orders.csv", index=False)
products.to_csv("/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Cleaned/cl_products.csv", index=False)
brands.to_csv("/Users/alex/Desktop/Eniac/Project_Folder/DataFrames/Cleaned/cl_brands.csv", index=False)